In [1]:
#imports
import pandas as pd

In [2]:
#reading in data
train = pd.read_csv('./datasets/train.csv', keep_default_na=False, na_values=[''])
test = pd.read_csv('./datasets/test.csv', keep_default_na=False, na_values=[''])

In [3]:
train.head()

,Id,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,...,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type,SalePrice
0,109,533352170,60,RL,NaN,13517,Pave,NA,IR1,Lvl,...,0,0,NA,NA,NA,0,3,2010,WD,130500
1,544,531379050,60,RL,43.0,11492,Pave,NA,IR1,Lvl,...,0,0,NA,NA,NA,0,4,2009,WD,220000
2,153,535304180,20,RL,68.0,7922,Pave,NA,Reg,Lvl,...,0,0,NA,NA,NA,0,1,2010,WD,109000
3,318,916386060,60,RL,73.0,9802,Pave,NA,Reg,Lvl,...,0,0,NA,NA,NA,0,4,2010,WD,174000
4,255,906425045,50,RL,82.0,14235,Pave,NA,IR1,Lvl,...,0,0,NA,NA,NA,0,3,2010,WD,138500

In [4]:
train.dtypes

Id                int64
PID               int64
MS SubClass       int64
MS Zoning        object
Lot Frontage    float64
                 ...
Misc Val          int64
Mo Sold           int64
Yr Sold           int64
Sale Type        object
SalePrice         int64
Length: 81, dtype: object

In [5]:
train.isna().sum()

Id                0
PID               0
MS SubClass       0
MS Zoning         0
Lot Frontage    330
               ...
Misc Val          0
Mo Sold           0
Yr Sold           0
Sale Type         0
SalePrice         0
Length: 81, dtype: int64

In [6]:
train['Lot Frontage'] = train['Lot Frontage'].fillna(0)
train['Mas Vnr Type'] = train['Mas Vnr Type'].fillna('None')
train['Mas Vnr Area'] = train['Mas Vnr Area'].fillna(0)
train['Bsmt Qual'] = train['Bsmt Qual'].fillna('NA')
train['Bsmt Cond'] = train['Bsmt Cond'].fillna('NA')
train['Bsmt Exposure'] = train['Bsmt Exposure'].fillna('NA')
train['BsmtFin Type 1'] = train['BsmtFin Type 1'].fillna('NA')
train['BsmtFin SF 1'] = train['BsmtFin SF 1'].fillna(0)
train['BsmtFin Type 2'] = train['BsmtFin Type 2'].fillna('NA')
train['BsmtFin SF 2'] = train['BsmtFin SF 2'].fillna(0)
train['Total Bsmt SF'] = train['Total Bsmt SF'].fillna(0)
train['Bsmt Full Bath'] = train['Bsmt Full Bath'].fillna(0)
train['Bsmt Half Bath'] = train['Bsmt Half Bath'].fillna(0)
train.drop(columns = ['Garage Yr Blt'], inplace = True)

In [7]:
test['Lot Frontage'] = test['Lot Frontage'].fillna(0)
test['Mas Vnr Type'] = test['Mas Vnr Type'].fillna('None')
test['Mas Vnr Area'] = test['Mas Vnr Area'].fillna(0)
test['Bsmt Qual'] = test['Bsmt Qual'].fillna('NA')
test['Bsmt Cond'] = test['Bsmt Cond'].fillna('NA')
test['Bsmt Exposure'] = test['Bsmt Exposure'].fillna('NA')
test['BsmtFin Type 1'] = test['BsmtFin Type 1'].fillna('NA')
test['BsmtFin SF 1'] = test['BsmtFin SF 1'].fillna(0)
test['BsmtFin Type 2'] = test['BsmtFin Type 2'].fillna('NA')
test['BsmtFin SF 2'] = test['BsmtFin SF 2'].fillna(0)
test['Total Bsmt SF'] = test['Total Bsmt SF'].fillna(0)
test['Bsmt Full Bath'] = test['Bsmt Full Bath'].fillna(0)
test['Bsmt Half Bath'] = test['Bsmt Half Bath'].fillna(0)
test.drop(columns = ['Garage Yr Blt'], inplace = True)

In [12]:
train.to_csv('./datasets/cleaned_train.csv', index_label = False, index = False, columns = train.columns)
test.to_csv('./datasets/cleaned_test.csv', index_label = False, index = False, columns = test.columns)